<h1>
    <i class="fas fa-leaf"></i>     Add a new plant

</h1>

<br>
<form>
  <div class="form-group">
    <label>Is this plant on your property (private) or on public property?</label>
    <select class="form-control">
      <option>Private</option>
      <option>Public</option>
    </select>
  </div>
  <div class="form-group">
    <label>Plant Name</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Account Email Address</label>
    <input type="email" class="form-control" placeholder="name@example.com">
  </div>
    <div class="form-group">
    <label>Latitude</label>
    <input type="email" class="form-control" placeholder="format '41.917782'">
  </div>
    <div class="form-group">
    <label>Longitude</label>
    <input type="email" class="form-control" placeholder="format '-87.675539'">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
</form>
</br>