<h1>Explore the Plant World Around You!</h1>

<br>
<p>Below are your nearest search results for 
</br>


<% for @plant_location in @plant_instances %>
<br>
<ul class="list-unstyled">
  <li class="media">
    <img src="Coneflower.jpg" class="mr-3">
    <div class="media-body">
      <h5 class="mt-0 mb-1">


<%= @plant_location[:latitude] %>, <%= @plant_location[:longitude] %>
      
      </h5>
    </div>
</ul>
</br>
<% end %>  

<p> <a href="/plants/<%= @plant[:plant_id] %>/uniqueplant/new" class="btn btn-primary btn-lg active" style="background-color: #000080; role="button" aria-pressed="true"> Add your own <%= @plant[:plant_title] %></a></p>
