<h1>Explore the Plant World Around You!</h1>

<br>
<p>Below are your nearest search results for '<b><u><%= @plant_location[:plant_title] %></u></b>'
</br>


<% for plant_title in @plant_location %>
<br>
<ul class="list-unstyled">
  <li class="media">
    <img src="Coneflower.jpg" class="mr-3">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><b><u><%= @plant_location[:plant_title] %></u></b></h5>
      <p>Location: <%= @plant_location[:latitude] %></p>  
    </div>
</ul>
</br>
<% end %>  
